.contact_list {
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    padding: 0px;
    margin: 10px auto;

}
.container {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
    box-shadow: inset -1px 3px 8px 5px #d4dee9, 2px 5px 10px 0px #2e3c4e, 5px 5px 5px 5px rgba(194, 188, 188, 0);
    border-radius: 4px;
}
.btn_del:hover {
    background:red;
    color: #ffffff;
}